
.vs/
*.dll
*.cache
*.props
*.cache
*.cache
*.props
UncleProductTracking.API/UncleProductTracking.Entities/bin
UncleProductTracking.API/UncleProductTracking.Entities/obj
UncleProductTracking.API/UncleProductTracking.Repo/bin
UncleProductTracking.API/UncleProductTracking.Repo/obj
UncleProductTracking.API/UncleProductTracking.Biz/bin
UncleProductTracking.API/UncleProductTracking.Biz/obj
UncleProductTracking.API/UncleProductTracking.Common/bin
UncleProductTracking.API/UncleProductTracking.Common/obj
UncleProductTracking.API/UncleProductTracking.Report/bin
UncleProductTracking.API/UncleProductTracking.Report/obj
UncleProductTracking.API/UncleProductTracking.API/bin
UncleProductTracking.API/UncleProductTracking.API/obj
UncleProductTracking.API/Preperation/bin
UncleProductTracking.API/Preperation/obj