<div class="p-grid p-jc-center">
  <div class="p-col-12 p-md-6">
    <p-panel header="Cihaz Ekle">
      <div class="p-fluid">
        <form #form="ngForm" (ngSubmit)="createDevice()">
          <div class="p-formgrid p-grid">
            <div class="p-field p-col">
              <label for="createdDate">Tarih</label>
              <p-calendar name="createdDate" [(ngModel)]="model.createdDate" dateFormat="dd.mm.yy" [showIcon]="true"
                readonlyInput="true">
              </p-calendar>
            </div>
          </div>
          <div class="p-formgrid p-grid">
            <div class="p-field p-col">
              <label for="serialNumber">Seri Numarası</label>
              <input id="serialNumber" name="serialNumber" #serialNumber="ngModel" type="text"
                [(ngModel)]="model.serialNumber" required pInputText>
            </div>
            <div class="p-field p-col">
              <label for="readerSerialNumber">Reader Numarası</label>
              <input id="readerSerialNumber" name="readerSerialNumber" #readerSerialNumber="ngModel" type="text"
                [(ngModel)]="model.readerSerialNumber" required pInputText>
            </div>
          </div>
          <div class="p-formgrid p-grid">
            <div class="p-field p-col">
              <label for="ipNumber">Ip Numarası</label>
              <input id="ipNumber" name="ipNumber" #ipNumber="ngModel" type="text" [(ngModel)]="model.ipNumber" required
                pInputText>
            </div>
            <div class="p-field p-col">
              <label for="fault">Arıza</label>
              <input id="fault" name="fault" #fault="ngModel" type="text" [(ngModel)]="model.fault" required pInputText>
            </div>
          </div>
          <div class="p-formgrid p-grid">
            <div class="p-field p-col">
              <label for="deviceTypeId">Cihaz Tipi</label>
              <p-dropdown id="deviceTypeId" name="deviceTypeId" #deviceType="ngModel" [options]="deviceTypeList"
                [(ngModel)]="model.deviceTypeId" optionValue="id" optionLabel="title" [filter]="true" filterBy="title"
                placeholder="Cihaz seçiniz" required></p-dropdown>
            </div>
            <div class="p-field p-col">
              <label for="unitId">Birim</label>
              <p-dropdown id="unitId" name="unitId" #unit="ngModel" [options]="unitList" [(ngModel)]="model.unitId"
                optionValue="id" optionLabel="title" [filter]="true" filterBy="title" placeholder="Birim seçiniz"
                required></p-dropdown>
            </div>
          </div>
          <div class="p-formgrid p-grid">
            <div class="p-field p-col">
              <label for="fram">Fram</label>
              <p-dropdown id="fram" name="fram" #fram="ngModel" [options]="framList" [(ngModel)]="model.fram"
                placeholder="Fram seçiniz" optionValue="id" optionLabel="title" required></p-dropdown>
            </div>
            <div class="p-field p-col">
              <label for="confirmation">Onay</label>
              <p-dropdown id="confirmation" name="confirmation" #confirmation="ngModel" [options]="confirmList"
                [(ngModel)]="model.confirmation" optionValue="id" optionLabel="title" placeholder="Onay seçiniz"
                required></p-dropdown>
            </div>
          </div>
          <div class="p-formgrid p-grid">
            <div class="p-field p-col">
              <label for="descreption">Açıklama</label>
              <p-editor id="descreption" name="descreption" [style]="{'height':'320px'}"
                [(ngModel)]="model.descreption"></p-editor>
            </div>
          </div>
          <div class="p-field">
            <button pButton pRipple type="submit" [disabled]="form.invalid" icon="pi pi-plus" label="Ekle"
              iconPos="left"></button>
          </div>
        </form>
      </div>
    </p-panel>
  </div>
</div>
<p-confirmPopup></p-confirmPopup>